body{

font-family:Arial;
margin:20px;

}

input,select{

width:100%;
padding:10px;
margin-bottom:15px;

}

#map{

height:300px;
margin-bottom:20px;

}

button{

padding:15px;
width:100%;
background:#2ecc71;
color:white;
border:none;
font-size:16px;

}
