body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f7fb;
}

.container {
  max-width: 650px;
  margin: auto;
  padding: 20px;
}

#map {
  height: 420px;
  margin-top: 15px;
  border-radius: 12px;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  margin-bottom: 12px;
}

.hidden {
  display: none;
}

.mode-selector {
  margin-bottom: 15px;
}
